<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/index.css" media="screen" title="no title" charset="utf-8">
    {{!-- <link rel="stylesheet" type="text/css" href="./styles/jeff.css"> --}}
  <link href="https://fonts.googleapis.com/css?family=McLaren" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Major+Mono+Display|Source+Code+Pro" rel="stylesheet">
  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> --}}
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
 </body>

</html>
