<div class="jumbotron header">
    <div class = "text-center mx-auto">
<div>Impartial News</div>
</div>
<button class="btn btn-primary buttons news-stuff favorites-button">Favorite Articles</button>
<button class="btn btn-primary buttons favorites news-button">Get more articles</button>
</div>
<br>
<br>
<br>
<br>
<br>
<div class = "display-news jumbotron mx-5">
    <div class=" news-stuff news">
        
    </div>
    <div class = "favorites">
        <div>Favorites</div>
        </div>
</div>
<div class = "footer footer-dark"></div>
<script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
<script src="/js/index.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
  {{!-- <script src = "https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> --}}